<section class="listing-apply">
  <h2 class="section-heading">Ajouter un chat :</h2>
  <form [formGroup]="form" (submit)="submit()">
    <label for="name">Nom :</label>
    <input id="name" type="text" formControlName="name" />
    <label for="color">Couleur :</label>
    <input id="color" type="text" formControlName="color" />
    <label for="age">Age :</label>
    <input id="age" type="number" formControlName="age" />
    <button type="submit" class="primary">Ajouter</button>
  </form>
</section>
